{:source-paths ["src"]
 :dependencies [
                [reagent "0.8.0-alpha2"]]

 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :modules {:main {:entries [app.main]}}
                :devtools {:after-load app.main/reload!}}}}
